@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  padding:0;
  margin:0;

}

h1,p,a{
text-decoration: none;
color:aliceblue;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: #ba9b83;
  color: #302e2d;
  border: 1px solid aliceblue;
  font-weight: 600;
  cursor: pointer;
}

.btn-light {
  /* background: rgba(255, 255, 255, 0.2); */
  background: transparent;
  color: aliceblue;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: aliceblue;
  transition: 0.3s;
}


